// Variables
$primary-color: #F2CF5B
$secondary-color: #4655C4
$hover-color: #f0d57d
$background-color: #637AD6

.mainnav
  display: flex
  justify-content: space-between
  height: 100px
  text-align: left
  padding: 0 20px

.logo
  display: flex
  align-items: center
  font-size: 3rem
  color: $primary-color
  font-weight: bold

  span
    color: $secondary-color

ul
  display: flex
  align-items: center

  button
    font-family: inherit
    font-size: inherit
    font-weight: bold
    background: $primary-color
    color: white
    border-radius: 6px
    height: 50px
    padding: 0 15px
    border: 0

    &:hover
      background: $hover-color
      color: gray

.navcenter
  li
    display: flex
    position: relative

.link
  font-weight: bold
  padding: 0 20px
  display: flex
  text-align: left
  align-items: center
  text-decoration: none
  color: inherit

  svg
    margin-left: 0.5rem
    transition: transform 0.3s ease

.submenu
  position: absolute
  display: flex
  flex-direction: column
  margin-top: 10px
  top: 100%
  left: 0
  background-color: white
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
  opacity: 0
  visibility: hidden
  transition: opacity 0.3s ease, visibility 0.3s ease
  z-index: 1000
  
  &.open
    opacity: 1
    visibility: visible

  li
    display: block
    margin: 0
    
    a
      display: block
      padding: 10px 20px
      color: inherit
      text-decoration: none
      font-weight: normal

      &:hover
        background-color: #f0f0f0

// Arrow animation
.link svg
  transition: transform 0.3s ease

.submenu.open + .link svg
  transform: rotate(180deg)

.navright 
  li
    display: flex
    flex-direction: row
    justify-content: space-between

.loginresponsive
  display: none

.navbarcontainer //slider bar dashboard
  position: fixed
  top: 0
  left: 0
  width: 220px
  background-color: $background-color
  height: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  text-align: left
  overflow-y: auto
  z-index: 10
  padding: 20px
  
  &::-webkit-scrollbar
    width: 0px

  &::-webkit-scrollbar-track 
    background: $primary-color

  &::-webkit-scrollbar-thumb
    background-color: $secondary-color
    border-radius: 5px
    border: 1px solid #e0e0e0

  // For Firefox
  scrollbar-width: none
  scrollbar-color: $primary-color $secondary-color 

// Mobile styles
@media screen and (max-width: 768px)
  .contentleft
    margin-top:100px

  .mainnav
    position: relative
    flex-direction: column
    align-items: flex-start
    padding: 10px

  .logo
    margin-bottom: 10px

  .navcenter, .navright
    display: none

  .menu-toggle
    display: flex
    justify-content: flex-start
    font-size: 24px
    background: none
    border: none
    color: $primary-color
    cursor: pointer

  .mobile-menu
    display: none
    position: absolute
    top: 90%
    left: 0
    width: 100%
    background-color: white
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
    z-index: 1000
  
  
    &.open
      display: block

    .mobile-nav-items
      flex-direction: column
      width: 100%

      li
        width: 100%
        text-align: left

        a
          padding: 15px
          display: flex
          justify-content: space-between
          align-items: center
          color: $secondary-color

          svg
            margin-left: 0.5rem

    .submenu
      position: static
      box-shadow: none
      background-color: #f9f9f9
      max-height: 0
      overflow: hidden
      transition: max-height 0.3s ease-out, opacity 0.3s ease
      
      &.open
        opacity: 1
        visibility: visible

      li a
        padding-left: 30px
        color: $background-color

  .loginresponsive
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100vh
    margin-top: 20px

    a
      padding: 10px 50px
      border-radius: 8px
      background: $primary-color
      margin: 10px
      color: white
      font-weight: bold

    .link

  .navright
    button
      width: 100%
      margin-top: 10px

// Desktop styles (unchanged)
@media screen and (min-width: 769px)
  .menu-toggle, .mobile-menu
    display: none

  .navcenter, .navright
    display: flex