.mainnav
    display: flex
    justify-content: space-around
    height: 100px
    text-align: center
.logo
    display: flex
    align-items: center
.logo img
    width: auto
    height: 40px
ul
    display: flex
    align-items: center
ul button
    background: #F2CF5B
    color: white
    border-radius: 6px
    height: 50px
ul button:hover
    background: #f0d57d
    color: gray
.navcenter li
    display: flex

.link
    font-weight: bold
    padding: 0px 20px



